.dark {
  // Color for section headings
  .section-heading h1,
  .article-metadata,
  .media .article-metadata {
    color: $sta-night-section-headings;
  }
}

.section-heading h1,
.portrait-title h3,
.media .article-metadata {
  color: $sta-section-headings;
}

// Font overrides
html {
  font-kerning: normal;
  line-height: 1.5;
}

.article-container {

  .article-style p,
  .pub-abstract {
    text-align: justify;
  }
}

.navbar-brand {
  font-weight: 500;
}

// .navbar .navbar-nav .nav-link.active,
// .dark .navbar .navbar-nav .nav-link.active {
//   font-weight: 500 !important;
// }

.navbar,
.dark .navbar {

  .dropdown-item.active,
  .dropdown-item-active {
    font-weight: 500 !important;
  }
}

.section-subheading {
  font-size: 1.25rem;
  font-family: $sta-font-heading, sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

// Publication authors
.article-metadata {
  letter-spacing: unset;
}

.dark .li-cite-author {
  color: inherit;
}

// Journal name
.li-cite-journal {
  font-style: italic;
  color: inherit;
  font-size: 1rem;
}

.dark .article-date {
  font-size: 0.8rem; // smaller than font-size-small
}

// Post subtitle in widget
.media.stream-item .article-style {
  font-size: unset;
}

// Author card at the bottom of posts
.author-card .card-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.84);
}

// Google Material Icons
.material-symbols-sharp {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

// Icomoon icons
@font-face {
  font-family: 'icomoon';
  src: url('/webfonts/icomoon.eot?8jh2oc');
  src: url('/webfonts/icomoon.eot?8jh2oc#iefix') format('embedded-opentype'),
    url('/webfonts/icomoon.ttf?8jh2oc') format('truetype'),
    url('/webfonts/icomoon.woff?8jh2oc') format('woff'),
    url('/webfonts/icomoon.svg?8jh2oc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-julia:before {
  content: "\e900";
}

.icon-file-pdf:before {
  content: "\eadf";
}
