.dark {
	.btn.btn-primary {
		background-color: $sta-night-primary;
		border-color: $sta-night-primary;
		color: rgb(248, 248, 242) !important; 
	}

	.btn.btn-primary:hover {
		background-color: $sta-night-primary-dark;
		border-color: $sta-night-primary-dark;
	}
	
	.btn.btn-outline-primary {
		border-color: $sta-night-primary;   
	}
	
	.btn.btn-outline-primary:hover {
		border-color: $sta-night-primary;
		background-color: $sta-night-primary;
	}
	
	.btn-toolbar .btn.btn-primary:hover,
	.btn-toolbar .btn.btn-primary:focus {
		background-color: $sta-night-primary-light !important;
	}
	
	.btn-toolbar .btn.btn-primary:active,
	.btn-toolbar .btn.btn-primary.active {
		background-color: $sta-night-primary-dark !important;
	}
	
	.btn-primary:not(:disabled):not(.disabled).active:focus,
	.btn-primary:not(:disabled):not(.disabled):active:focus,
	.show > .btn-primary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.1rem $sta-night-primary-light;
	}

	.navbar .navbar-nav .nav-link:hover {
		color: $sta-dark-link-hover !important;
		transition: color 0.3s ease;
	}

	// Change the color of article title links on hover
	.article-title a:hover {
		color: $sta-dark-link-hover !important;
		text-decoration: none !important;
		transition: color 0.3s ease;
	}

	// Do not change the color of article summary links on hover
	a.summary-link:hover {
		color: unset;
	}

	// Color for section headings
	.section-heading h1, #about .section-subheading,
	.portrait-title h3,
	.article-metadata,
	.media .article-metadata,
	ul.ul-edu li .description p.institution {
		color: $sta-dark-section-headings;
	}

	
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem $sta-primary-light;
}

// Change color of links in the navbar on hover
.navbar .navbar-nav .nav-link:hover {
		color: $sta-link-hover !important;
		transition: color 0.3s ease;
}

// Change the color of article title links on hover
.article-title a:hover {
  color: $sta-link-hover !important;
  text-decoration: none !important;
  transition: color 0.3s ease;
}

.section-heading h1, 
.portrait-title h3,
.media .article-metadata,
ul.ul-edu li .description p.institution {
	color: $sta-section-headings;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}