/*************************************************
 *  Dark themed components
 **************************************************/


.dark .pagination li > a,
.pagination li > span {
  background-color: rgb(40, 42, 54);
  border: 1px solid #ddd;
}

body.dark,
.dark .docs-toc-link,
.dark .modal button.close,
.dark input {
  color: $sta-night-body-color;
  background: $sta-night-background;
  text-shadow: unset;
}

.dark .form-control {
  color: $sta-night-body-color;
  background-color: rgb(68, 71, 90);

  &::placeholder {
    color: #fff;
    opacity: 1;
  }

  &:focus {
    background-color: rgb(68, 71, 90);
    border-color: $sta-primary;
    box-shadow: 0 0 0 0.2rem $sta-primary-dark;
  }
}

.dark pre {
  /* Match `pre` bg color. */
  border-color: rgb(68, 71, 90);
  color: #fff;  // Override Bootstrap default (light mode only)
}

.dark mark,
.dark .mark {
  background: rgba(233, 231, 245, 0.2);
}

.dark #MathJax_Zoom {
  background-color: rgb(68, 71, 90) !important;
}

.dark table table {
  background-color: rgb(40, 42, 54);
}

/* Table Striped */
.dark table > tbody > tr:nth-child(odd) > td,
.dark table > tbody > tr:nth-child(odd) > th {
  background-color: rgb(50, 52, 64);
}

/* Table Hover */
.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: rgb(60, 62, 74);
}

.dark .pub-icon {
  color: rgba(255, 255, 255, 0.54);
}

.dark .talk-metadata {
  color: rgba(255, 255, 255, 0.54);
}

.dark select {
  background: rgb(40, 42, 54);
  color: $sta-night-body-color;
}

.dark .badge-light {
  color: rgba(255, 255, 255, 0.68);
  background: rgba(255, 255, 255, 0.2);
}

.dark .badge-light[href]:focus,
.dark .badge-light[href]:hover {
  background: rgba(255, 255, 255, 0.3);
}

.dark a.badge:focus,
.dark a.badge:hover {
  color: rgba(255, 255, 255, 0.68);
}

.dark .docs-sidebar .nav > li:not(.active) > a {
  color: rgb(248, 248, 242);
  background: $sta-night-background;
}
