:root {
    --r-main-font: Segoe UI;
    --r-heading-font: Segoe UI Light;
    --r-heading-text-transform: none;
    --r-main-font-size: 32px
  }
  .reveal .slides section .fragment.insert {
    max-width: 0;
    opacity: 0;
    display: inline-block;
  }
  .reveal .slides section .fragment.insert.visible {
    max-width: 100%;
    opacity: 1;
    transition-property: max-width, opacity;
  }