/*************************************************
 *  Button size override
 *************************************************/

.btn {
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 0.9; // Anything less and multiline button text may overlap.
  border-radius: 0.3rem;
  transition: all 0.1s;
}

.btn-links .btn {
  padding: 5px 0.5rem;
  line-height: 1;
}

.btn.btn-sm {
  padding: 5px 0.4rem;
  font-size: 14px;
  border-radius: 0.2rem;
}

.btn-page-header {
  // Satisfy Lighthouse tap targets criteria.
  margin: 8px 8px 8px 0;
}

/*************************************************
 *  Toolbar Buttons
 **************************************************/

.btn-toolbar {
  .btn {
    font-size: 0.9rem;
    padding: 10px 14px 9px;
    border: none;

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &.btn-primary {
      .dark & {
        background-color: $sta-night-primary-darker;
        border-color: $sta-night-primary-darker;
        color: #fff;
      }

      &:is(:hover) {
        box-shadow: 0 0 0 0.1rem $sta-primary-light;
        background-color: $sta-primary;

        .dark & {
          box-shadow: 0 0 0 0.1rem $sta-night-primary-light;
          background-color: $sta-night-primary-dark;
        }
      }

      &:is(:active, .active) {
        background-color: $sta-primary-dark;

        .dark & {
          background-color: $sta-night-primary-dark;
        }
      }

      &:not(:disabled):not(.disabled):is(.active, :active):focus {
        box-shadow: 0 0 0 0.1rem $sta-primary-light;

        .dark & {
          box-shadow: 0 0 0 0.1rem $sta-night-primary-light
        }
      }
    }
  }
}

.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem $sta-primary-light;

  .dark & {
    box-shadow: 0 0 0 0.1rem $sta-night-primary-light
  }
}

// Abhinav: added dark mode override
.dark a.btn.btn-outline-primary {
  color: $sta-night-primary;
  border-color: $sta-night-primary;

  &:hover,
  &:active {
    color: #fff;
    border-color: $sta-night-primary-dark;
    background-color: $sta-night-primary-dark;
  }
}
